body {
    font-family: "Montserrat", Calibri;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    gap: 40px;
    margin-top: 5vh;
}

p {
    margin: 0;
    padding: 0;
}
